#container {
  margin-top: 10px;
  padding: 0;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lista {
  width: 100%;
  height: auto;


}

form {
  width: 95%;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

li {
  list-style: none;
}


.input-container {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-container input,
button {
  padding: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 40px;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 2px black;

}

.input-container button {
  background-color: #00ff37;
  font-weight: bold;
  color: black;
}

.input-container button:hover {
  background-color: rgb(40, 219, 40);
}

.tittle{
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

#lista {
  margin-top: 20px;
  background-color: white;
  min-height: 65vb;
  width: 95%;
  border-radius: 10px;

}

ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
}
.button-deletar, .button-editar{
  width: 90%;
  border: none;
}